@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply container;
  }
}

@layer components {
  .input-text {
    @apply border-2 rounded-lg focus:border-2 focus:border-purple-400 outline-none overflow-hidden text-base md:text-xl w-full shadow-sm shadow-cyan-500 m-5 h-2 md:h-5 py-6 md:py-8 px-4;
  }

  .item-task {
    @apply container;
   }

  .item-task-content {
    @apply flex transition duration-100 rounded-lg justify-between items-center my-2 hover:bg-slate-100 p-3;
  }

  .item-checkbox {
    @apply accent-cyan-600 cursor-pointer h-5 w-5 rounded-lg;
  }

  .btn-remove {
    @apply bg-gray-100 transition duration-100 px-3 py-1 rounded-lg text-rose-500 hover:text-rose-300;
    line-height: 1px;
  }

  .title-app {
    @apply my-5 text-center w-full text-xl md:text-5xl border-b-2 border-b-cyan-500 text-cyan-700;
  }
}
